.popup-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.box {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: auto;
  max-height: 75vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #f7efef;
  border-radius: 12.722px;
  color: #d282a6;
  padding: 20px;
  border: 1px solid #d282a6;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(22% - 40px);
  top: calc(100vh - 86vh - 30px);
  /* background: #f24e1e; */
  color: #d282a6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #d282a6;
  font-size: 20px;
}
